{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Lista de Pacientes</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'equipo' %}">Equipo</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'pacientes' %}">Pacientes</a>
                        </li>
                    </ul>
                </div>
                <a href="{% url 'pacientes-add' %}" class="btn-download"><!-- Agregar Pacientes -->
                    <i class='bx bxs-ambulance' ></i>
                    <span class="text">Agregar paciente</span>
                </a>
            </div>

            {% for patient in patients %}
            <div class="table-data">
                <div class="order">
                    <ul class="box-info">
                        <li>
                            <img src="{{ patient.person.photo.url }}" style="height: 90px;">
                            <span class="text">
                                <h3>{{patient.person.first_name}} {{patient.person.last_name}}</h3>
                                <p>Nombre del paciente</p>
                                <p>{{patient.person.age}} years</p>
                                {% if patient.person.sex == 'F' %}
                                    <p>Mujer</p>
                                {% elif patient.person.sex == 'M' %}
                                    <p>Hombre</p>
                                {% endif %}
                                
                            </span>
                        </li>
                    </ul>
                    <table>
                        <thead>
                            <tr>
                                <th>Enfermedad</th>
                                <th>ARS</th>
                                <th>Peso en libras</th>
                                <th>Altura en metros</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{patient.illness}}</td>
                                <td>{{patient.ars}}</td>
                                <td>{{patient.weight_in_pounds}} lb</td>
                                <td>{{patient.height_in_meters}} m</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Tipo de sangre</th>
                                <th>Tipo de hospitalizacion</th>
                                <th>Fecha de ingreso</th>
                                <th>Nombre de referencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{patient.person_blood_type}}</td>
                                {% if patient.hospitalization == 'U' %}
                                    <td>Urgente</td>
                                {% elif patient.hospitalization == 'P' %}
                                    <td>Programado</td>
                                {% elif patient.hospitalization == 'I' %}
                                    <td>Intrahospitalario</td>
                                {% endif %}

                                <td>{{patient.join_date}}</td>
                                <td>{{patient.reference_first_name}} {{patient.reference_last_name}}</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th>Numero de telefono - Referencia</th>
                                <th>Parentesco - Referencia</th>
                                <th>Habitacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{patient.reference_phone}}</td>
                                
                                {% if patient.reference_kindship == 'H' %}
                                    <td>Conyugue</td> <!-- Poner la tilde-->
                                {% elif patient.reference_kindship == 'A' %}
                                    <td>Amigo</td>
                                {% elif patient.reference_kindship == 'F' %}
                                    <td>Familiar</td>
                                {% elif patient.reference_kindship == 'O' %}
                                    <td>Otro</td>
                                {% endif %}

                                <td>{{patient.room.room_name}}</td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="head-title">
                        <div class="left">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url 'pacientes-edit' patient.uuid %}" class="active">Editar</a> <!-- Editar paciente-->
                                </li>
                                <li>
                                    <a href="{% url 'pacientes-delete' patient.uuid %}" class="active">Eliminar</a><!-- Eliminar paciente-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            <!-- for Pacientes-->
            
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}