{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>El ultimo paciente ingresado ha sido {{ name }}</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'mi-clinica' %}">Mi clinica</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bx-camera-home'></i>
                    <span class="text">
						<h3>{{contador_habitaciones}}</h3><!--reemplazar-->
						<p>Habitaciones activas</p>
					</span>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
						<h3>{{contador_miembros_equipo}}</h3><!--reemplazar-->
						<p>Miembros activos</p>
					</span>
                </li>
            </ul>
            
            {% for paciente in pacientes %}
            <div class="table-data">
                <div class="order">
                    <a href="{% url 'mi-clinica-room' paciente.room.id %}"> <!--Redireccionar a pagina monitor-->
                        <div class="head">
                        <h3>{{paciente.room.roomName}}</h3>
                    </div>
                </a>
                    <!-- HABITACION 1 -->
                    <ul class="box-info">
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>{{paciente.doctor.first_name}} {{paciente.doctor.last_name}}</h3>
                                <p>Doctor a cargo</p>
                            </span>
                        </li>
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>{{paciente.nurse.first_name}} {{paciente.nurse.last_name}}</h3>
                                <p>Enfermera a cargo</p>
                            </span>
                        </li>
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>{{paciente.illness}}</h3>
                                <p>Enfermedad del paciente</p>
                            </span>
                        </li>
                    </ul>
                    <!-- HABITACION -->
                    <ul class="box-info">
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Temperatura media</th>
                                        <th>Humedad relativa</th>
                                        <th>Calidad del aire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{sensores.roomTemperature}}</p>
                                        </td>
                                        <td>{{sensores.roomHumidity}}</td>
                                        <td><span>{{sensores.roomAirQuality}} %</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Temperatura del paciente media</th>
                                        <th>Pulso del paciente</th>
                                        <th>Estado de los musculos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{sensores.patientTemperature}}</p>
                                        </td>
                                        <td>{{sensores.patientPulse}} ppm</td>
                                        <td><span class="status pending">Tensos</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}

            {% for habitacion in habitaciones %}
            <div class="table-data">
                <div class="order">
                    <h3>{{habitacion.roomName}}</h3>
                    <!--  HABITACION  -->
                    <ul class="box-info">
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>Habitacion disponible</h3>
                            </span>
                        </li>
                    </ul>
                    <!-- HABITACION -->
                </div>
            </div>
            {% endfor %}
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}