{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    {% if not person %}
                    <h1>Todavía no ha agregado a nadie</h1>
                    {% else %}
                    <h1>La última persona agregada ha sido {{ person.first_name }} {{ person.last_name }}</h1>
                    {% endif %}
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Menú principal</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'equipo' %}">Equipo</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Doctores</h3>
                    </div>

                    {% if doc %}
                    <!-- Doctores -->
                    <ul class="box-info">
                        <li>
                            <img src="{{ doc.photo.url }}" style="height: 90px;">
                            <span class="text">
                                <h3>{{doc.first_name}} {{doc.last_name}}</h3>
                                <p>Último doctor agregado</p>
                            </span>
                        </li>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Edad</th>
                                        <th>Número de teléfono</th>
                                        <th>Residencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{doc.age}}</p>
                                        </td>
                                        <td>{{doc.phone}}</td>
                                        <td><span>{{doc.address}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    <a href="{% url 'doctores' %}">Lista de doctores</a>
                    <!-- Doctores -->
                    {% else %}
                    <a href="{% url 'doctores-add' %}">Añadir doctor</a>
                    {% endif %}
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Enfermeros</h3>
                    </div>
                    {% if nurse %}
                    <!-- Enfermeras -->
                    <ul class="box-info">
                        <li>
                            <img src="{{ nurse.photo.url }}" style="height: 90px;">
                            <span class="text">
                                <h3>{{nurse.first_name}} {{nurse.last_name}}</h3>
                                    <p>Último enfermero agregado</p>
                            </span>
                        </li>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Edad</th>
                                        <th>Número de teléfono</th>
                                        <th>Residencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{nurse.age}}</p>
                                        </td>
                                        <td>{{nurse.phone}}</td>
                                        <td><span>{{nurse.address}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    <a href="{% url 'enfermeros' %}">Lista de enfermeros</a>
                    <!-- Enfermeras -->
                    {% else %}
                    <a href="{% url 'enfermeros-add' %}">Añadir enfermero</a>
                    {% endif %}
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Pacientes</h3>
                    </div>

                    {% if patient %}
                    <!-- Pacientes -->
                    <ul class="box-info">
                        <li>
                            <img src="{{ patient.person.photo.url }}" style="height: 90px;">
                            <span class="text">
                                <h3>{{patient.person.first_name}} {{patient.person.last_name}}</h3>
                                <p>Último paciente ingresado</p>
                            </span>
                        </li>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Edad</th>
                                        <th>Enfermedad</th>
                                        <th>Tipo de sangre</th>
                                        <th>Número de Habitacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{patient.person.age}}</p>
                                        </td>
                                        <td>{{patient.illness}}</td>
                                        <td>{{patient.person_blood_type}}</td>
                                        <td><span>{{patient.room.room_name}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    <a href="{% url 'pacientes' %}">Lista de pacientes</a>
                    <!-- Pacientes -->
                    {% else %}
                    <a href="{% url 'pacientes-add' %}">Añadir paciente</a>
                    {% endif %}
                </div>
            </div>
            
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}