{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- My CSS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
    <link rel="stylesheet" href="{% static 'salusApp/css/dashboard.css' %}">

    <title>Salus</title>
</head>
{% endblock head %}

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="{% url 'dashboard' %}" class="brand">
            <img src="{% static 'salusApp/img/Logo_Salus.png' %}">
        </a>
        <ul class="side-menu top">
            <li>
                <a href="{% url 'dashboard' %}" id="dash">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Menú principal</span>
                </a>
            </li>
            <li>
                <a href="{% url 'mi-clinica' %}" id="clinica">
                    <i class='bx bx-health'></i>
                    <span class="text">Mi Clínica</span>
                </a>
            </li>            
            <li>
                <a href="{% url 'equipo' %}" id="equipo">
                    <i class='bx bxs-group'></i>
                    <span class="text">Equipo</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{% url 'settings' %}" id="settings">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Configuración</span>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Desconectar</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
		<nav>
			<i class='bx bx-menu' ></i>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
		</nav>
		<!-- NAVBAR -->
    
    {% block content %}{% endblock content %}
    </section>
    {% block script %}{% endblock script %}
    <script src="{% static 'salusApp/js/dashboard.js' %}"></script>
</body>

</html>