{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Lista de enfermeras</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'equipo' %}">Equipo</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'enfermeros' %}">Enfermeras</a>
                        </li>
                    </ul>
                </div>
                <a href="{% url 'enfermeros-add' %}" class="btn-download"><!-- Agregar enfermera -->
                    <i class='bx bx-heart' ></i>
                    <span class="text">Agregar enfermera</span>
                </a>
            </div>

            {% for nurse in nurses %}
            <div class="table-data">
                <div class="order">
                    <ul class="box-info">
                        <li>
                            <img src="{% static nurse.photo.url %}" style="height: 90px;">
                            <span class="text">
                                <h3>{{nurse.first_name}} {{nurse.last_name}}</h3>
                                {% if nurse.sex == 'M' %}
                                <p>Nombre del Enfermero</p>
                                {% elif nurse.sex == 'F' %}
                                <p>Nombre de la Enfermera</p>
                                {% endif %}
                            </span>
                        </li>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Edad</th>
                                        <th>Numero de Telefono</th>
                                        <th>Residencia</th>
                                        <th>Sexo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{{nurse.age}} años</p>
                                        </td>
                                        <td>{{nurse.phone}}</td>
                                        <td><span>{{nurse.address}}</span></td>
                                        {% if nurse.sex == 'M' %}
                                        <td>Hombre</td>
                                        {% elif nurse.sex == 'F' %}
                                        <td>Mujer</td>
                                        {% endif %}
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    
                    <div class="head-title">
                        <div class="left">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="{% url 'enfermeros-edit' nurse.id %}" class="active">Editar</a> <!-- Editar enfemera-->
                                </li>
                                <li>
                                    <a href="{% url 'enfermeros-delete' nurse.id %}" class="active">Eliminar</a><!-- Eliminar enfermera-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            {% endfor %}
            
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}