{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Bienvenido {{ user_name }}</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'dashboard' %}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">
						<h3>{{patient_counter}}</h3>
						<p>Nuevos Pacientes</p>
					</span>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
						<h3>{{member_team_counter}}</h3>
						<p>Miembros del equipo</p>
					</span>
                </li>
                <li>
                    <i class='bx bx-camera-home'></i>
                    <span class="text">
						<h3>{{room_counter}}</h3>
						<p>Habitaciones disponibles</p>
					</span>
                </li>
            </ul>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Ingresos recientes</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Fecha de ingreso</th>
                                <th>Tipo de ingreso</th>
                                <th>Habitacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients_list %}
                            <tr>
                                <td>
                                    <img src="{{ patient.person.photo.url }}">
                                    <p>{{patient.person.first_name}} {{patient.person.last_name}}</p>
                                </td>
                                <td>{{patient.join_date}}</td>
                                {% if patient.hospitalization == 'U' %}
                                <td><span class="status pending">Urgente</span></td>
                                {% elif patient.hospitalization == 'P' %}
                                <td><span class="status completed">Programado</span></td>
                                {% elif patient.hospitalization == 'I' %}
                                <td><span class="status process">Intrahospitalario</span></td>
                                {% endif %}
                                <td>{{patient.room.room_name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}