{% extends 'salusApp/dashboard_base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    {% if active_room_counter %}
                    <h1>El ultimo paciente ingresado ha sido {{ last_patient.person.first_name }}</h1>
                    {% else %}
                    <h1>La clinica esta limpia por hoy</h1>
                    {% endif %}
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'mi-clinica' %}">Mi clinica</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bx-camera-home'></i>
                    <span class="text">
						<h3>{{active_room_counter}}</h3><!--reemplazar-->
						<p>Habitaciones activas</p>
					</span>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
						<h3>{{team_members_counter}}</h3><!--reemplazar-->
						<p>Miembros activos</p>
					</span>
                </li>
            </ul>
            
            {% for patient in patients_list %}
            <div class="table-data">
                <div class="order">
                    {% if sensors|is_here:patient.room.id != False %}
                    <a href="{% url 'mi-clinica-room' patient.room.id %}"> <!--Redireccionar a pagina monitor-->
                        <div class="head">
                            <h3>{{patient.room.room_name}}</h3>
                        </div>
                    </a>
                    {% else %}
                    <div class="head">
                        <h3>{{patient.room.room_name}}</h3>
                    </div>
                    {% endif %}
                    <!-- HABITACION 1 -->
                    <ul class="box-info">
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>{{patient.doctor.first_name}} {{patient.doctor.last_name}}</h3>
                                <p>Doctor a cargo</p>
                            </span>
                        </li>
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>{{patient.nurse.first_name}} {{patient.nurse.last_name}}</h3>
                                <p>Enfermera a cargo</p>
                            </span>
                        </li>
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>{{patient.illness}}</h3>
                                <p>Enfermedad del paciente</p>
                            </span>
                        </li>
                    </ul>
                    <!-- HABITACION -->
                    {% if sensors|is_here:patient.room.id != False %}
                    <ul class="box-info">
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Temperatura media</th>
                                        <th>Humedad relativa</th>
                                        <th>Calidad del aire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{% get_item sensors|is_here:patient.room.id "room_temperature" %}</p>
                                        </td>
                                        <td>{% get_item sensors|is_here:patient.room.id "room_humidity" %}</td>
                                        <td><span>{% get_item sensors|is_here:patient.room.id "room_air_quality" %} %</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Temperatura del paciente media</th>
                                        <th>Pulso del paciente</th>
                                        <th>Estado de los musculos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>{% get_item sensors|is_here:patient.room.id "patient_temperature" %}</p>
                                        </td>
                                        <td>{% get_item sensors|is_here:patient.room.id "patient_pulse" %} ppm</td>
                                        <td><span class="status pending">Tensos</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            {% for room in rooms %}
            {% if room.is_available %}
            <div class="table-data">
                <div class="order">
                    <h3>{{room.room_name}}</h3>
                    <!--  HABITACION  -->
                    <ul class="box-info">
                        <li>
                            <i class='bx bx-plus-medical'></i>
                            <span class="text">
                                <h3>Habitacion disponible</h3>
                            </span>
                        </li>
                    </ul>
                    <!-- HABITACION -->
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}