{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Lista de enfermeras</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'equipo' %}">Equipo</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
    

                        {% if isEnfermera %}
                        <li>
                            <a class="active" href="{% url 'enfermeros' %}">Enfermeras</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'enfermeros-add' %}">Nueva enfermera</a>
                        </li>

                        {% elif isDoctor %}
                        <li>
                            <a class="active" href="{% url 'doctores' %}">Doctores</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'doctores-add' %}">Nuevo doctor</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
                <!--  <a href="#" class="btn-download"><!-- Agregar enfermera --> 
                <!-- <i class='bx bx-heart' ></i>
                    <span class="text">Agregar enfermera</span>
                </a> -->
            </div>
            <!-- Head title -->

            <!-- For enfermera en blabla-->
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Formulario</h3>
                    </div>
                    <form method="POST" action="" class="form">
                        {% csrf_token %}
                        <ul class="box-info">
                            <li>
                                <!-- Primer Nombre-->
                                <span class="text">
                                    <h3>Nombre</h3>
                                    <input id="id_first_name" type="text" name="first_name" maxlength="30" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Primer apellido -->
                                <span class="text">
                                    <h3>Apellido</h3>
                                    <input id="id_last_name" type="text" name="last_name" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Edad -->
                                <span class="text">
                                    <h3>Edad</h3>
                                    <input id="id_age" type="number" name="age" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        <ul class="box-info">
                            <li>
                                <!-- Residencia -->
                                <span class="text">
                                    <h3>Residencia</h3>
                                    <input id="id_address" type="text" maxlength="100" name="address" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Sexo -->
                                <span class="text">
                                    <h3>Sexo</h3>
                                    <select id="id_sex" name="sex" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                        <option value="M">Hombre</option>
                                        <option value="F" selected>Mujer</option>
                                    </select>
                                </span>  
                            </li>
                            <li>
                                <!-- Cedula -->
                                <span class="text">
                                    <h3>Numero de identidad</h3>
                                    <input id="id_idNumber" type="text" maxlength="10" name="idNumber" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        
                        <ul class="box-info">
                            <li>
                                <!-- Numero de telefono -->
                                <span class="text">
                                    <h3>Numero de telefono</h3>
                                    <input id="id_phone" type="text" maxlength="15" name="phone" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li></li>
                            <li>
                                <!-- Photo-->
                                {% if isEnfermera %}
                                    <span class="text">
                                        <h3>Foto de la enfermera</h3>
                                        <input id="id_photo" type="file"  name="photo" required=""
                                        style="border: none !important;
                                        border-bottom: 1px solid #000!important;
                                        background: transparent!important;
                                        outline: none!important;
                                        height: 40px!important;
                                        color: #000!important;
                                        font-size: 16px!important;
                                        margin-bottom: 20px!important;">
                                    </span>  
                                {% elif isDoctor %}
                                    <span class="text">
                                        <h3>Foto del doctor</h3>
                                        <input id="id_photo" type="file"  name="photo" required=""
                                        style="border: none !important;
                                        border-bottom: 1px solid #000!important;
                                        background: transparent!important;
                                        outline: none!important;
                                        height: 40px!important;
                                        color: #000!important;
                                        font-size: 16px!important;
                                        margin-bottom: 20px!important;">
                                    </span>
                                {% endif %}
                            </li>
                        </ul>
                        <div class="head-title">
                            <div class="left">
                                <ul class="breadcrumb">
                                    <li>
                                        <input type="submit" value="Enviar"
                                        style="border: none !important;
                                            border-bottom: 1px solid #000!important;
                                            background: transparent!important;
                                            outline: none!important;
                                            height: 40px!important;
                                            color: #000!important;
                                            font-size: 16px!important;
                                            margin-bottom: 20px!important;" 
                                            onMouseOver="this.style.color='#fff'; this.style.cursor='pointer';" onMouseOut="this.style.color='#000'">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}