{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Lista de pacientes</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'equipo' %}">Equipo</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        
                        <li>
                            <a class="active" href="{% url 'pacientes' %}">Pacientes</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'pacientes-add' %}">Nuevo paciente</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Head title -->

            <!-- For enfermera en blabla-->
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Formulario</h3>
                    </div>
                    <form method="POST" action="" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <ul class="box-info">
                            <li>
                                <!-- Primer Nombre-->
                                <span class="text">
                                    <h3>Nombre</h3>
                                    <input id="id_first_name" type="text" name="first_name" maxlength="30" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Primer apellido -->
                                <span class="text">
                                    <h3>Apellido</h3>
                                    <input id="id_last_name" type="text" name="last_name" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Edad -->
                                <span class="text">
                                    <h3>Edad</h3>
                                    <input id="id_age" type="number" name="age" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        <ul class="box-info">
                            <li>
                                <!-- Residencia -->
                                <span class="text">
                                    <h3>Residencia</h3>
                                    <input id="id_address" type="text" maxlength="100" name="address" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Sexo -->
                                <span class="text">
                                    <h3>Sexo</h3>
                                    <select id="id_sex" name="sex" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                        <option value="M">Hombre</option>
                                        <option value="F">Mujer</option>
                                        <option value="NA" selected>Prefiero no decirlo</option>
                                        <option value="O">Otro</option>
                                    </select>
                                </span>  
                            </li>
                            <li>
                                <!-- Cedula -->
                                <span class="text">
                                    <h3>Numero de identidad</h3>
                                    <input id="id_id_card_number" type="text" maxlength="10" name="id_card_number" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        
                        <ul class="box-info">
                            <li>
                                <!-- Numero de telefono -->
                                <span class="text">
                                    <h3>Numero de telefono</h3>
                                    <input id="id_phone" maxlength="15" name="phone" required=""
                                    type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            
                            <li>
                                <!-- Enfermeras -->
                                <span class="text">
                                    <h3>Enfermero a cargo</h3>
                                    <select id="id_nurse" name="nurse" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                        {% for nurse in nurses %}
                                        <option value="{{nurse.id}}">{{nurse.first_name}} {{ nurse.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </span>  
                            </li>

                            <li>
                                <!-- Photo-->
                                <span class="text">
                                    <h3>Foto del paciente</h3>
                                    <input id="id_photo" type="file"  name="photo" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>

                        <ul class="box-info">
                            <li>
                                <!-- Nombre - Referencia -->
                                <span class="text">
                                    <h3>Nombre - Referencia</h3>
                                    <input id="id_reference_first_name" type="text" name="reference_first_name" maxlength="30" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Apellido - Referencia -->
                                <span class="text">
                                    <h3>Apellido - Referencia</h3>
                                    <input id="id_reference_last_name" type="text" name="reference_last_name" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Telefono - Referencia -->
                                <span class="text">
                                    <h3>Telefono - Referencia</h3>
                                    <input id="id_reference_phone" type="text" maxlength="15" name="reference_phone" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>

                        <ul class="box-info">
                            <li>
                                <!-- Parentesco -->
                                <span class="text">
                                    <h3>Parentesto - Referencia</h3>
                                    <select id="id_reference_kindship" name="reference_kindship" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                        <option value="H">Conyugue</option>
                                        <option value="F">Familiar</option>
                                        <option value="A">Amigo</option>
                                        <option value="O" selected>Otro</option>
                                    </select>
                                </span>  
                            </li>


                            <li>
                                <!-- Peso en kilogramos -->
                                <span class="text">
                                    <h3>Peso en libras</h3>
                                    <input id="id_idweight_in_pounds" step="any" type="number" name="weight_in_pounds" maxlength="30" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Altura en metros -->
                                <span class="text">
                                    <h3>Altura en metros</h3>
                                    <input id="id_idheight_in_meters" step="any" type="number" name="height_in_meters" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>

                        <ul class="box-info">
                            <li>
                                <!-- ARS -->
                                <span class="text">
                                    <h3>Nombre de la aseguradora</h3>
                                    <input id="id_idars" type="text" maxlength="15" name="ars" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>

                            <li>
                                <!-- Tipo de sangre -->
                                <span class="text">
                                    <h3>Tipo de sangre</h3>
                                    <select id="id_person_blood_type" name="person_blood_type" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    </select>
                                </span>  
                            </li>
                            
                            <li>
                                <!-- Enfermedad -->
                                <span class="text">
                                    <h3>Enfermedad</h3>
                                    <input id="id_idillness" type="text" maxlength="20" name="illness" required="" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>

                        <ul class="box-info">         
                            <li>
                                <!-- Tipo de sangre -->
                                <span class="text">
                                    <h3>Tipo de hospitalizacion</h3> <!-- Agregar tilde-->
                                    <select id="id_idhospitalization" name="hospitalization" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                    <option value="U">Urgente</option>
                                    <option value="P">Programado</option>
                                    <option value="I">Intrahospitalario</option>
                                    </select>
                                </span>  
                            </li>

                            <li>
                                <!-- Doctores -->
                                <span class="text">
                                    <h3>Doctor a cargo</h3>
                                    <select id="id_iddoctor" name="doctor" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                        {% for doctor in doctors %}
                                        <option value="{{doctor.id}}">{{doctor.first_name}} {{doctor.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </span>  
                            </li>

                            <li>
                                <!-- Habitaciones disponibles -->
                                <span class="text">
                                    <h3>Habitaciones disponibles</h3>
                                    <select id="id_idroom" name="room" 
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                        {% for room in rooms %}
                                        <option value="{{room.id}}">{{room.room_name}}</option>
                                        {% endfor %}
                                    </select>
                                </span>  
                            </li>
                        </ul>

                        <div class="head-title">
                            <div class="left">
                                <ul class="breadcrumb">
                                    <li>
                                        <input type="submit" value="Enviar"
                                        style="border: none !important;
                                            border-bottom: 1px solid #000!important;
                                            background: transparent!important;
                                            outline: none!important;
                                            height: 40px!important;
                                            color: #000!important;
                                            font-size: 16px!important;
                                            margin-bottom: 20px!important;" 
                                            onMouseOver="this.style.color='#fff'; this.style.cursor='pointer';" onMouseOut="this.style.color='#000'">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}