{% extends 'salusApp/dashboard_base.html' %}
{% load static %}

{% block content %}
    <!-- CONTENT -->
    
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    {% if person.is_doctor %}
                    <h1>Lista de doctores</h1>
                    {% else %}
                    <h1>Lista de enfermeros</h1>
                    {% endif %}
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Menú principal</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'equipo' %}">Equipo</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        
                        {% if person.is_nurse %}
                        <li>
                            <a class="active" href="{% url 'enfermeros' %}">Enfermeros</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'enfermeros-edit' person.uuid %}">Editando a {{person.first_name}}</a>
                        </li>

                        {% elif person.is_doctor%}
                        <li>
                            <a class="active" href="{% url 'doctores' %}">Doctores</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="{% url 'doctores-edit' person.uuid %}">Editando a {{person.first_name}}</a>
                        </li>

                        {% endif %}

                    </ul>
                </div>
            </div>

            <!-- For enfermera en blabla-->
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Editar</h3>
                    </div>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <ul class="box-info">
                            <li>
                                <!-- Primer Nombre-->
                                <span class="text">
                                    <h3>Nombres</h3>
                                    <input value="{{person.first_name}}" id="id_first_name" type="text" name="first_name" maxlength="30" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Primer apellido -->
                                <span class="text">
                                    <h3>Apellidos</h3>
                                    <input value="{{person.last_name}}" id="id_last_name" type="text" name="last_name" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Edad -->
                                <span class="text">
                                    <h3>Edad</h3>
                                    <input value="{{person.age}}" id="id_age" type="number" name="age" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        <ul class="box-info">
                            <li>
                                <!-- Residencia -->
                                <span class="text">
                                    <h3>Residencia</h3>
                                    <input value="{{person.address}}" id="id_address" type="text" maxlength="100" name="address" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li>
                                <!-- Sexo -->
                                <span class="text">
                                    <h3>Sexo</h3>
                                    <select id="id_sex" name="sex"
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                    {% if person.sex == 'M' %}
                                        <option value="M" selected>Hombre</option>
                                        <option value="F">Mujer</option>
                                        <option value="NA">Prefiero no decirlo</option>
                                        <option value="O">Otro</option>
                                    {% elif person.sex == 'F' %}
                                        <option value="M">Hombre</option>
                                        <option value="F" selected>Mujer</option>
                                        <option value="NA">Prefiero no decirlo</option>
                                        <option value="O">Otro</option>
                                    {% elif person.sex == 'O' %}
                                        <option value="M" selected>Hombre</option>
                                        <option value="F">Mujer</option>
                                        <option value="NA">Prefiero no decirlo</option>
                                        <option value="O" selected>Otro</option>
                                    {% else %}
                                        <option value="M">Hombre</option>
                                        <option value="F">Mujer</option>
                                        <option value="NA" selected>Prefiero no decirlo</option>
                                        <option value="O">Otro</option>
                                    {% endif %}    
                                    </select>
                                </span>  
                            </li>
                            <li>
                                <!-- Cedula -->
                                <span class="text">
                                    <h3>Número de identidad</h3>
                                    <input id="id_id_card_number" type="text" value="{{person.id_card_number}}" maxlength="10" name="id_card_number" required=""
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        
                        <ul class="box-info">
                            <li>
                                <!-- Numero de telefono -->
                                <span class="text">
                                    <h3>Número de telefono</h3>
                                    <input value="{{person.phone}}" id="id_phone" maxlength="15" name="phone" required=""
                                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel"
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                            <li></li>
                            <li>
                                <!-- Photo-->
                                <span class="text">
                                    <h3>Nueva foto</h3>
                                    <input id="id_photo" type="file"  name="photo"
                                    style="border: none !important;
                                    border-bottom: 1px solid #000!important;
                                    background: transparent!important;
                                    outline: none!important;
                                    height: 40px!important;
                                    color: #000!important;
                                    font-size: 16px!important;
                                    margin-bottom: 20px!important;">
                                </span>  
                            </li>
                        </ul>
                        <div class="head-title">
                            <div class="left">
                                <ul class="breadcrumb">
                                    <li>
                                        <input type="submit" value="Enviar"
                                        style="border: none !important;
                                            border-bottom: 1px solid #000!important;
                                            background: transparent!important;
                                            outline: none!important;
                                            height: 40px!important;
                                            color: #000!important;
                                            font-size: 16px!important;
                                            margin-bottom: 20px!important;" 
                                            onMouseOver="this.style.color='#fff'; this.style.cursor='pointer';" onMouseOut="this.style.color='#000'">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- for enfermera-->
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

{% endblock content %}