<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Password Reset</title>
        <link rel="stylesheet" href="{% static 'salusApp/css/register.css' %}">
        <script defer src="{% static 'salusApp/js/login.js' %}"></script>
    </head>

    <body>
        <div class="loading hidden">
            <img src="{% static 'salusApp/loading.gif' %}" alt="Loading....">
        </div>
        <div class="login-box" id="main-login">
            <h1>
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'salusApp/img/Logo_Salus.png' %}"></a>
            </h1>
            <br><br>
            <p>Your password has been reset!</p>
            <br>
            <a href="{% url "home" %}"><input type="submit" value="Ok!"></a>
            </form>
        </div>
    </body>
</html>