<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Salus - Resetear contraseña</title>
        <link rel="stylesheet" href="{% static 'salusApp/css/password.css' %}">
        <script defer src="{% static 'salusApp/js/login.js' %}"></script>
    </head>

    <body>
        <div class="loading hidden">
            <img src="{% static 'salusApp/loading.gif' %}" alt="Loading....">
        </div>
        <div class="login-box" id="main-login">
            <h1>
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'salusApp/img/Logo_Salus.png' %}"></a>
            </h1>
            <br><br>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update!">
            </form>
        </div>
    </body>
</html>