<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Web/styles/base.css"/>
</head>

<body>
    <header class="navbar">
        <nav>
            <a href="/Web/templates/home.html" id="logo" class="logo"><img src="/Web/static/Logo_Salus.png"></a>
            <div class="links" id="links">
                <a href="">Home</a> <!-- Terminar de llenar -->
                <a href="/Web/common/login.html">Login</a>
            </div>
        </nav>
    </header>
</body>

</html>